@font-face {
	font-family: 'reforma-grotesk-demi-regular';
	src: url('../fonts/reforma-grotesk-demi-regular.eot');
	src: url('../fonts/reforma-grotesk-demi-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/reforma-grotesk-demi-regular.woff') format('woff'),
		url('../fonts/reforma-grotesk-demi-regular.ttf') format('truetype'),
		url('../fonts/reforma-grotesk-demi-regular.svg#reforma-grotesk-demi-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'engravers-gothic-bold';
	src: url('../fonts/engravers-gothic-bold.eot');
	src: url('../fonts/engravers-gothic-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/engravers-gothic-bold.woff') format('woff'),
		url('../fonts/engravers-gothic-bold.ttf') format('truetype'),
		url('../fonts/engravers-gothic-bold.svg#engravers-gothic-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
